.projects-container {
  max-width: 140rem;
  margin: 0 auto;

  padding: 0 4.2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  margin-bottom: 8.5rem;
}

.categories {
  max-width: 140rem;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  padding: 1.4rem 4.2rem;

  margin-bottom: 2.4rem;
}

.category {
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 500;
  border: 2px solid #007ced;

  padding: 0.7rem 1.4rem;
  border-radius: 12px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.category:hover {
  background-color: #007ced;
}

.category_active {
  background-color: #007ced;
}

@media (max-width: 34em) {
  .projects-container {
    margin-bottom: 4.2rem;
  }
}